@import "tailwindcss";

@layer base {
  :root {
    --primary: #2563eb;
    --secondary: #8b5cf6;
    --dark: #1e293b;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}